# Project exclude paths

# Architectiry
/.architectury-transformer/debug.log

# Gradle
/.gradle/

# IDEA
/.idea/

# Kotlin
/.kotlin/

# Build
/build/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/

# Versions
/versions/